extends layout

block content
    if error
        .error 
            p= error
            
    .login-container
        h1 Login
        if errors 
            p(class="error", id="error")= errors
        form(action="/login", method="POST")
            .form-group
                label(for="username") Username:
                input(type="text", name="username", id="username", required)
            .form-group
                label(for="password") Password:
                input(type="password", name="password", id="password", required)
            .form-group
                button(type="submit") Login
        p
            | Don't have an account? 
            a(href="/register") Register here