extends layout

block content
    if error
        .error 
            p= error

    .register-container
        h1 Register
        form(action="/register", method="POST")
            .form-group
                label(for="username") Username:
                input(type="text", name="username", id="username", required)
            .form-group
                label(for="password") Password:
                input(type="password", name="password", id="password", required)
            .form-group
                label(for="confirm") Confirm Password:
                input(type="password", name="confirm", id="confirm", required)
            .form-group
                button(type="submit") Register
        p
            | Already have an account? 
            a(href="/login") Login here