body {
    background: lightblue;
}

#recipe-list {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;

    .recipe {
        border: 1px solid black;
        padding: 20px;
        border-radius: 4px;
        background-color: beige;
    }
}

form {
    width: 500px;
    margin: auto;
    margin-bottom: 50px;

    label {
        display: inline-block;
        width: 150px;
    }

    input, textarea {
        padding: 4px;
        border: 1px solid black;
        border-radius: 4px;
        width: 200px;
    }

    input[type="radio"] {
        display: block;
    }
}

table, tr, th, td {
    border: 1px solid black;
}

table {
    margin: 20px;
    border-collapse: collapse;
    background-color: white;

    tr {
        &:nth-child(even) {
            background-color: lightgray;
        }

        th {

        }

        td {

        }
    }
}