/* General body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
}

/* Sidebar styling */
aside {
    width: 200px;
    background-color: #514535;
    color: #fff;
    padding: 20px;
    text-align: center;
}

aside a {
    display: block;
}

/* Main content styling */
main section {
    max-width: 800px;
    margin: 20px 20px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #026476;
}

p {
    font-size: 1.2rem;
}

.form-group {
    width: 90%;
}

label, input, textarea {
    display: block;
    margin-bottom: 10px;
}

input, textarea {
    width: 100%;
    padding: 5px;
    font-size: 1rem;
}

/* Header section styling */
header {
    background-color: #026476;
    color: #fff;
    padding: 10px 20px;
}

header img {
    height: 50px;
    margin-right: 20px;
}

header nav {
    display: inline-block;
}

header h1 {
    display: inline;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline;
    margin-right: 10px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Footer styling */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}

footer p {
    margin: 5px;
}

#books {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.book {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    background-color: beige;
    color: brown;
}