extends sharedLayout.pug 

block content
    main 
        section
            h1 About Us
            ul 
                li We are a small company that specializes in web development.
                li We are located in the heart of the Silicon Valley.
                li We have a team of 10 developers that are ready to help you with your project.