extends sharedLayout.pug 

block content
    main 
        section
            h1 Contact Us
            p Please fill out the form below to contact us.
            form(action='/contact', method='POST')
                section(class='form-group')
                    label(for='name') Name:
                    input(type='text', name='name', id='name')
                section(class='form-group')
                    label(for='email') Email:
                    input(type='email', name='email', id='email')
                section(class='form-group')
                    label(for='message') Message:
                    textarea(name='message', id='message')
                section(class='form-group')
                    input(type='submit', value='Submit')